.number {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.number-12 {
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-3 {
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.number-6 {
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-9 {
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}